*{
    margin: 0 !important;
}

html{
    margin: 0px;
    height: 100%;
}


body{
    margin: 0px;
    height: 100%;
}

#banner{
    background: #5b5bec;
    height: 15%;
    color: white;
}

#content{
    background: #f0f0ff;
    height: 83%;
    text-align: center;
}

#footer{
    background: #4d49e1;
    text-align: right;
    color: white;
    height: 2%;
}

h1{
    font-size: 100px;
}

button{
    width: 100px;
}

table{
    border: solid black 1px;
    border-spacing: 0;
}

th{
    border: solid black 1px;
}


td{
    margin: 0;
    border: solid black 1px;
}